<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/bundles/fontaweasome">
    <include path="~/Contentfont-awesome-4.1.0/css/font-awesome.min.css" />
  </styleBundle>
  <styleBundle path="~/bundles/css">
    <include path="~/Content/kendo/styles/kendo.common.min.css" />
    <include path="~/Content/kendo/styles/kendo.common.core.min.css" />
    <include path="~/Content/css/site.css" />
    <include path="~/Content/css/temas.css" />
  </styleBundle>
  <scriptBundle path="~/bundles/library">
    <include path="~/Scripts/library/jquery/jquery-2.1.3.min.js" />
    <include path="~/Scripts/library/jquery/jquery.maskedinput.min.js" />
    <include path="~/Scripts/kendo/kendo.all.min.js" />
    <include path="~/Scripts/kendo/cultures/kendo.culture.pt-BR.min.js" />
    <include path="~/Scripts/kendo/messages/kendo.messages.pt-BR.min.js" />
    <include path="~/Scripts/library/date.editor.js" />
    <include path="~/Scripts/library/messagebox.js" />
  </scriptBundle>
</bundles>